<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your account</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
    <link rel="stylesheet" href="signup.css"/>
    <script src="{% static 'js/signup.js' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="heading">
            <h1>Create your account</h1>
        </div>
        <form method="post">
            <div class="name row">
                <div class="name-field two-cols">
                    <input type="text" name="firstname" placeholder="First name" required>
                </div>
                <div class="name-field two-cols right" id="last-name">
                    <input type="text" name="lastname" placeholder="Last name" required>
                </div>
            </div>
            <div class="email row">
                <div class="email-field one-col">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
            </div>
            <div class="passwd row">
                <div class="passwd-field two-cols">
                    <input type="password" name="password" id="passwdInput" placeholder="Password" required>
                </div>
                <div class="passwd-field two-cols right" id="passwd-confirm">
                    <input type="password" id="confirmInput" placeholder="Confirm" required>
                </div>
                <div class="passwd-comment">
                    <span>Use 8 or more characters with a mix of letters, numbers & symbols</span>
                </div>
            </div>
            <div class="checkbox-field">
                <div class="the-checkbox">
                    <input type="checkbox" class="passwd-checkbox" onclick="passwdCheck()" value="Show Password">
                </div>
                <div class="checkbox-text">
                    <span>Show password</span>
                </div>
            </div>
        </form>
        <div class="next-step row">
            <div class="go-back two-cols">
                <a href="login">Sign in instead</a>
            </div>
            <div class="two-cols right submit-div">
                <input type="submit" class="submit" value="Register">
            </div>
        </div>
    </div>
</body>
</html>