*{
    margin:0;
    padding:0;
}

html{
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('images/login_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.9;
    color: white;
    min-height: 500px;
}

.heading{
    padding: 50px 0 0 40px;
}

form{
    padding: 50px 40px 5% 40px;
}

.row{
    box-sizing: border-box;
    padding: 0 0 25px 0;
}

.two-cols{
    display: inline-block;
    width: 48%;
}

.right{
    float: right;
}

form input{
    width: 100%;
    height: 30px;
}

.passwd-comment{
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.the-checkbox{
    display: inline-block;
    vertical-align: top;
}

.passwd-checkbox{
    width: 20px;
    height: 20px;
}

.checkbox-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.next-step{
    padding: 10px 40px 0 40px;
    box-sizing: border-box;
}

.go-back a:link{
    line-height: 39.5px;
    text-decoration: none;
    color: white;
}

.go-back a:hover{
    color: #B0DBF1;
}

input[type='submit']{
    float: right;
    padding: 10px 20px;
    background: white;
    border: none;
    border-radius: 2px;

}

input[type='submit']:hover{
    background: black;
    color: white;
    border: 2px solid white;
    padding: 8px 18px;
    cursor: pointer;
}